.list-items {
  width: 600px;
  margin: 20px auto;
}

.list-items:has(li:active) {
  width: 200px;
  display: inline-block;
}
.list-items  li {
  border-bottom: 1px solid #ccc;
  padding: 5px 30px;
  list-style-type: none;
  text-align: center;
}