.lmenu {
  width: 240px;
  float: left;
  height: 100vh;
  background-color: #f5f3f3;
}
.lmenu ul li {
  padding: 3px 25px;
  border-bottom: 1px solid #cfcfcf;
}
.lmenu ul li a {
  color: black;
}

.lmenu ul li a:hover {
  text-decoration: none;
}

.lmenu ul li.active-item a {
color:blue;
}

:host.is-open {
  display: none;
}