/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */

@media screen and (max-width:1024px) {
  .left-menu {
    display: none;
  }
}


/* imp links 

https://stackoverflow.com/questions/45778873/angular-calling-another-components-function-to-toggle-a-divs-display

VVImp:
https://medium.com/@mirokoczka/3-ways-to-communicate-between-angular-components-a1e3f3304ecb

*/


/* imp info


stay hungry stay foolish
connect the dots
go kiss the world
idly wada akasam
what to say when you talk to yourself
psycho- cybernetics
money purse


your parents are not your Emergency fund and your childern are not your retirement fund. Build your own wealth.

Need no money to Love. But, need money to express that love. */